In [1]:
from pyspark.sql import SparkSession
from pyspark import StorageLevel

In [2]:
spark.stop()

NameError: name 'spark' is not defined

In [3]:
spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        config("spark.local.dir","shuffle/").\
        getOrCreate()

24/07/19 08:41:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/19 08:41:32 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).

In [6]:
spark.conf.get('spark.local.dir')

'shuffle/'

In [7]:
spark.sparkContext.getConf().getAll()

[('spark.local.dir', 'shuffle/'),
 ('spark.executor.memory', '512m'),
 ('spark.app.id', 'app-20240719084133-0000'),
 ('spark.driver.host', 'c0168aacce39'),
 ('spark.rdd.compress', 'True'),
 ('spark.driver.port', '36027'),
 ('spark.master', 'spark://spark-master:7077'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.app.name', 'pyspark-notebook'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true')]

In [8]:
dim_customer = spark.read\
                    .option("inferSchema", "true")\
                    .option("header", "true")\
                    .csv("dim_customer.csv")

In [9]:
dim_customer.schema

StructType(List(StructField(CustomerKey,IntegerType,true),StructField(Prefix,StringType,true),StructField(FirstName,StringType,true),StructField(LastName,StringType,true),StructField(BirthDate,StringType,true),StructField(MaritalStatus,StringType,true),StructField(Gender,StringType,true),StructField(EmailAddress,StringType,true),StructField(AnnualIncome,StringType,true),StructField(TotalChildren,IntegerType,true),StructField(EducationLevel,StringType,true),StructField(Occupation,StringType,true),StructField(HomeOwner,StringType,true)))

In [10]:
dim_customer.createOrReplaceTempView("dim_Customer")

In [11]:
spark.sql("""SELECT COUNT(*) as count_line FROM dim_Customer""").show()

+----------+
|count_line|
+----------+
|     18148|
+----------+

In [68]:
check = spark.sql("""SELECT * FROM dim_Customer where CustomerKey>=23500""")
check.show()

+-----------+------+----------+---------+----------+-------------+------+--------------------+------------+-------------+---------------+------------+---------+
|CustomerKey|Prefix| FirstName| LastName| BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren| EducationLevel|  Occupation|HomeOwner|
+-----------+------+----------+---------+----------+-------------+------+--------------------+------------+-------------+---------------+------------+---------+
|      23500|  MRS.|   ADRIANA|   GARCIA|  6/6/1936|            M|     F|adriana16@adventu...|    $80,000 |            4|Graduate Degree|  Management|        Y|
|      23501|  MRS.|  ISABELLE|    PERRY|  7/2/1936|            M|     F|isabelle7@adventu...|    $90,000 |            4|      Bachelors|  Management|        Y|
|      23502|   MR.|     LOGAN|    LOPEZ|  9/7/1936|            M|     M|logan46@adventure...|   $110,000 |            2|Graduate Degree|  Management|        Y|
|      23503|   MR.|    DALTON|   TORRES|  2/4/1960|            M|     M|dalton75@adventur...|    $80,000 |            5|Partial College|Professional|        Y|
|      23504|   MR.|    GEORGE|     RANA|12/17/1960|            M|     M|george17@adventur...|    $80,000 |            5|Partial College|Professional|        Y|
|      23505|   MR.|    CONNOR|   SHARMA| 9/15/1960|            S|     M|connor25@adventur...|   $110,000 |            3|Partial College|Professional|        N|
|      23506|   MR.|     JESSE| CAMPBELL| 9/11/1960|            S|     M|jesse31@adventure...|   $150,000 |            1|Partial College|Professional|        N|
|      23507|  MRS.|    RACHEL|HENDERSON|  2/1/1954|            M|     F|rachel52@adventur...|    $70,000 |            3|    High School|Professional|        Y|
|      23508|   MR.|     BLAKE|    JONES| 4/18/1954|            M|     M|blake2@adventure-...|    $70,000 |            3|    High School|Professional|        Y|
|      23509|  MRS.|     FAITH|   POWELL|  2/7/1953|            S|     F|faith8@adventure-...|    $70,000 |            3|Graduate Degree|  Management|        N|
|      23510|  MRS.|    MORGAN|   COOPER| 5/15/1953|            M|     F|morgan56@adventur...|    $60,000 |            3|Graduate Degree|  Management|        Y|
|      23511|   MR.|    JOSHUA|RODRIGUEZ| 9/17/1953|            M|     M|joshua22@adventur...|    $60,000 |            3|Graduate Degree|  Management|        Y|
|      23512|   MR.|   ZACHARY|HENDERSON| 5/19/1952|            M|     M|zachary3@adventur...|    $40,000 |            3|Partial College|Professional|        Y|
|      23513|  MRS.|      ERIN|    KELLY| 11/7/1951|            M|     F|erin6@adventure-w...|    $40,000 |            3|Partial College|Professional|        Y|
|      23514|  MRS.|     CHLOE|     BELL| 4/17/1951|            M|     F|chloe52@adventure...|    $40,000 |            3|Partial College|Professional|        Y|
|      23515|   MR.|   ZACHARY|   WALKER|  6/8/1951|            S|     M|zachary30@adventu...|    $40,000 |            4|Partial College|Professional|        N|
|      23516|  MRS.|    ASHLEY|   MILLER|  6/2/1951|            S|     F|ashley6@adventure...|    $40,000 |            4|Partial College|Professional|        N|
|      23517|   MR.|    RONALD| MARTINEZ| 7/25/1949|            M|     M|ronald20@adventur...|    $30,000 |            4|    High School|Professional|        N|
|      23518|  MRS.| KATHERINE|    ADAMS| 4/15/1949|            S|     F|katherine63@adven...|    $30,000 |            4|    High School|Professional|        N|
|      23519|  MRS.|JACQUELINE|     LONG|  1/9/1949|            S|     F|jacqueline10@adve...|    $30,000 |            4|    High School|Professional|        N|
+-----------+------+----------+---------+----------+-------------+------+--------------------+------------+-------------+---------------+------------+---------+
only showing top 20 rows

In [12]:
dim_customer.show()

+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+
|CustomerKey|Prefix|FirstName|LastName|BirthDate|MaritalStatus|Gender|        EmailAddress|AnnualIncome|TotalChildren| EducationLevel|    Occupation|HomeOwner|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+
|      11000|   MR.|      JON|    YANG| 4/8/1966|            M|     M|jon24@adventure-w...|    $90,000 |            2|      Bachelors|  Professional|        Y|
|      11001|   MR.|   EUGENE|   HUANG|5/14/1965|            S|     M|eugene10@adventur...|    $60,000 |            3|      Bachelors|  Professional|        N|
|      11002|   MR.|    RUBEN|  TORRES|8/12/1965|            M|     M|ruben35@adventure...|    $60,000 |            3|      Bachelors|  Professional|        Y|
|      11003|   MS.|  CHRISTY|     ZHU|2/15/1968|            S|     F|christy12@adventu...|    $70,000 |            0|      Bachelors|  Professional|        N|
|      11004|  MRS.|ELIZABETH| JOHNSON| 8/8/1968|            S|     F|elizabeth5@advent...|    $80,000 |            5|      Bachelors|  Professional|        Y|
|      11005|   MR.|    JULIO|    RUIZ| 8/5/1965|            S|     M|julio1@adventure-...|    $70,000 |            0|      Bachelors|  Professional|        Y|
|      11007|   MR.|    MARCO|   MEHTA| 5/9/1964|            M|     M|marco14@adventure...|    $60,000 |            3|      Bachelors|  Professional|        Y|
|      11008|  MRS.|    ROBIN| VERHOFF| 7/7/1964|            S|     F|rob4@adventure-wo...|    $60,000 |            4|      Bachelors|  Professional|        Y|
|      11009|   MR.|  SHANNON| CARLSON| 4/1/1964|            S|     M|shannon38@adventu...|    $70,000 |            0|      Bachelors|  Professional|        N|
|      11010|   MS.|JACQUELYN|  SUAREZ| 2/6/1964|            S|     F|jacquelyn20@adven...|    $70,000 |            0|      Bachelors|  Professional|        N|
|      11011|   MR.|   CURTIS|      LU|11/4/1963|            M|     M|curtis9@adventure...|    $60,000 |            4|      Bachelors|  Professional|        Y|
|      11012|  MRS.|   LAUREN|  WALKER|1/18/1968|            M|     F|lauren41@adventur...|   $100,000 |            2|      Bachelors|    Management|        Y|
|      11013|   MR.|      IAN| JENKINS| 8/6/1968|            M|     M|ian47@adventure-w...|   $100,000 |            2|      Bachelors|    Management|        Y|
|      11014|  MRS.|   SYDNEY| BENNETT| 5/9/1968|            S|     F|sydney23@adventur...|   $100,000 |            3|      Bachelors|    Management|        N|
|      11015|   MS.|    CHLOE|   YOUNG|2/27/1979|            S|     F|chloe23@adventure...|    $30,000 |            0|Partial College|Skilled Manual|        N|
|      11016|   MR.|    WYATT|    HILL|4/28/1979|            M|     M|wyatt32@adventure...|    $30,000 |            0|Partial College|Skilled Manual|        Y|
|      11017|  MRS.|  SHANNON|    WANG|6/26/1944|            S|     F|shannon1@adventur...|    $20,000 |            4|    High School|Skilled Manual|        Y|
|      11018|   MR.| CLARENCE|     RAI|10/9/1944|            S|     M|clarence32@advent...|    $30,000 |            2|Partial College|      Clerical|        Y|
|      11019|   MR.|     LUKE|     LAL| 3/7/1978|            S|     M|luke18@adventure-...|    $40,000 |            0|    High School|Skilled Manual|        N|
|      11020|   MR.|   JORDAN|    KING|9/20/1978|            S|     M|jordan73@adventur...|    $40,000 |            0|    High School|Skilled Manual|        N|
+-----------+------+---------+--------+---------+-------------+------+--------------------+------------+-------------+---------------+--------------+---------+
only showing top 20 rows

In [13]:
fact_sales = spark.read\
                .option("inferSchema", "true")\
                .option("header", "true")\
                .csv("fact_sales.csv")

In [14]:
fact_sales.show()

+---------+----------+-----------+----------+-----------+------------+-------------+-------------+
|OrderDate| StockDate|OrderNumber|ProductKey|CustomerKey|TerritoryKey|OrderLineItem|OrderQuantity|
+---------+----------+-----------+----------+-----------+------------+-------------+-------------+
| 1/1/2016|10/17/2002|    SO48797|       385|      14335|           1|            1|            1|
| 1/1/2016| 9/30/2002|    SO48802|       383|      24923|           9|            1|            1|
| 1/1/2016|11/29/2002|    SO48801|       326|      15493|           1|            1|            1|
| 1/1/2016|11/16/2002|    SO48799|       352|      26708|           4|            1|            1|
| 1/1/2016|12/16/2002|    SO48798|       369|      23332|           9|            1|            1|
| 1/1/2016| 12/2/2002|    SO48800|       342|      15491|           5|            1|            1|
| 1/1/2016|10/19/2002|    SO48795|       375|      16538|           8|            1|            1|
| 1/1/2016|11/23/2002|    SO48796|       375|      15094|           7|            1|            1|
| 1/2/2016| 12/1/2002|    SO48804|       356|      12276|           8|            1|            1|
| 1/2/2016| 9/12/2002|    SO48814|       360|      13647|           9|            1|            1|
| 1/2/2016|10/30/2002|    SO48812|       356|      13630|           9|            1|            1|
| 1/2/2016| 9/15/2002|    SO48803|       383|      19416|          10|            1|            1|
| 1/2/2016|11/23/2002|    SO48809|       369|      23411|           9|            1|            1|
| 1/2/2016|10/27/2002|    SO48807|       324|      20892|          10|            1|            1|
| 1/2/2016|10/10/2002|    SO48805|       330|      19318|           7|            1|            1|
| 1/2/2016|12/11/2002|    SO48808|       368|      16552|           8|            1|            1|
| 1/2/2016|10/18/2002|    SO48813|       362|      13631|           9|            1|            1|
| 1/2/2016|10/22/2002|    SO48810|       369|      23415|           9|            1|            1|
| 1/2/2016|11/30/2002|    SO48806|       340|      20885|          10|            1|            1|
| 1/2/2016| 10/6/2002|    SO48811|       334|      15517|           4|            1|            1|
+---------+----------+-----------+----------+-----------+------------+-------------+-------------+
only showing top 20 rows

In [17]:
fact_sales.persist(StorageLevel.DISK_ONLY)

24/07/19 08:42:50 WARN CacheManager: Asked to cache already cached data.

DataFrame[OrderDate: string, StockDate: string, OrderNumber: string, ProductKey: int, CustomerKey: int, TerritoryKey: int, OrderLineItem: int, OrderQuantity: int]

In [18]:
fact_sales.rdd.getNumPartitions()

1

In [19]:
fact_sales.show()

+---------+----------+-----------+----------+-----------+------------+-------------+-------------+
|OrderDate| StockDate|OrderNumber|ProductKey|CustomerKey|TerritoryKey|OrderLineItem|OrderQuantity|
+---------+----------+-----------+----------+-----------+------------+-------------+-------------+
| 1/1/2016|10/17/2002|    SO48797|       385|      14335|           1|            1|            1|
| 1/1/2016| 9/30/2002|    SO48802|       383|      24923|           9|            1|            1|
| 1/1/2016|11/29/2002|    SO48801|       326|      15493|           1|            1|            1|
| 1/1/2016|11/16/2002|    SO48799|       352|      26708|           4|            1|            1|
| 1/1/2016|12/16/2002|    SO48798|       369|      23332|           9|            1|            1|
| 1/1/2016| 12/2/2002|    SO48800|       342|      15491|           5|            1|            1|
| 1/1/2016|10/19/2002|    SO48795|       375|      16538|           8|            1|            1|
| 1/1/2016|11/23/2002|    SO48796|       375|      15094|           7|            1|            1|
| 1/2/2016| 12/1/2002|    SO48804|       356|      12276|           8|            1|            1|
| 1/2/2016| 9/12/2002|    SO48814|       360|      13647|           9|            1|            1|
| 1/2/2016|10/30/2002|    SO48812|       356|      13630|           9|            1|            1|
| 1/2/2016| 9/15/2002|    SO48803|       383|      19416|          10|            1|            1|
| 1/2/2016|11/23/2002|    SO48809|       369|      23411|           9|            1|            1|
| 1/2/2016|10/27/2002|    SO48807|       324|      20892|          10|            1|            1|
| 1/2/2016|10/10/2002|    SO48805|       330|      19318|           7|            1|            1|
| 1/2/2016|12/11/2002|    SO48808|       368|      16552|           8|            1|            1|
| 1/2/2016|10/18/2002|    SO48813|       362|      13631|           9|            1|            1|
| 1/2/2016|10/22/2002|    SO48810|       369|      23415|           9|            1|            1|
| 1/2/2016|11/30/2002|    SO48806|       340|      20885|          10|            1|            1|
| 1/2/2016| 10/6/2002|    SO48811|       334|      15517|           4|            1|            1|
+---------+----------+-----------+----------+-----------+------------+-------------+-------------+
only showing top 20 rows